@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body { font-family: 'Poppins', sans-serif; overflow: hidden; }

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logoimg{
  height: 30px;
}

.qrsection{
  text-align: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0rem;
}



.checkout { background-color: white; position: fixed; z-index: 3; top: 20%; left: 50%; transform: translateX(-50%); width: 50%; border-radius: 2rem; box-shadow: 16px 10px 109px -18px rgba(0, 0, 0, 0.31); }
.checkout .final { padding: 2rem 0; }
.checkout .final .checkout-title { font-size: 2rem; font-weight: 700; margin-bottom: 1.2rem; }
.checkout .final .checkout-total { font-size: 1.2rem; font-weight: 500; margin-top: 1.5rem; }
.checkout .final button { margin: 0 1rem; outline: none; background: #376ADE; color: white; border: 0; font-size: 1.1rem; font-weight: 500; padding: .5rem 1.5rem; border-radius: 2rem; }
.checkout .scan { width: 100%; margin-left: auto; margin-right: auto; padding-bottom: 3rem; }
.checkout .scan .title{ margin-top: 1.5rem; font-size: 2rem; font-weight: 600; padding-bottom: 1rem; }
.checkout .scan .qrsection section div { border-radius: 1rem; }


.initial-scan { width: 100%; margin-left: auto; margin-right: auto; padding-bottom: 3rem; }
.initial-scan .title{ margin-top: 1.5rem; font-size: 2rem; font-weight: 600; padding-bottom: 1rem; }
.initial-scan .qrsection section div video { border-radius: 1rem; }






.product-selection-title{
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
.cart-title{
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 1rem;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.cart-total { text-align: left; font-size: 1.2rem; margin: 1.2rem 0; font-weight: 500; border-top: 1px solid rgba(0, 0, 0, 0.1); padding: .8rem 0; }


#footer{
  background-color: #376ADE;
  height: 70px;
}
#video{height: unset!important;}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#darken {
  height: 100vh;
  width: 100vw;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
  opacity: 35%;
}
.button{
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 20px;
  background-color: #376ADE;
  color: white;
  border: none;
}
.type1{
  padding-left: 2rem;
  padding-right: 2rem;
}

.type2{
  padding-left: 4rem;
  padding-right: 4rem;
}
.type3{
  background-color: white;
  padding-left: 0rem;
  padding-right: 0rem;
  outline: none!important;
}



.product { padding-top: 1rem; padding-bottom: 1rem; margin: 0; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.product p { margin-bottom: 0; font-size: 1.2rem; font-weight: 500; }
.product .name{ color: #376ADE; }




.product-selection-title{
  text-align: left;
}

.trash-image{
  height: 20px;
  filter: invert(35%) sepia(58%) saturate(3530%) hue-rotate(213deg) brightness(93%) contrast(87%);
  
}


.point-of-sale{
  height: 100vh;
  background-color: #F0F2F7;
}
.point-of-sale .container-fluid {
  height: 100%;
  width: 100%; 
}
/* .point-of-sale .container-fluid .row {height: 100%;} */
.point-of-sale .container-fluid .product-selection { height: 100%; }
.point-of-sale .container-fluid .product-selection .ls { background-color: #F0F2F7; height: 100%; margin: 0; text-align: left; }
.point-of-sale .container-fluid .product-selection .ls .container.sp { padding-top: 2.5rem; height: 100%; }
.point-of-sale .container-fluid .product-selection .ls .l-box {
  width: 100%;
  border-radius: 35px;
  background-color: #fff;
   height: 75%; 
   overflow-y: auto;
}

.point-of-sale .container-fluid .product-selection .rs { min-height: 100%; background-color: #fff; padding: 0; margin: 0;}
.point-of-sale .container-fluid .product-selection .rs .container { padding-top: 2.5rem; }


.point-of-sale .container-fluid .product-selection .ls .l-box .add-to-cart { text-align: right; vertical-align: center; display: flex; align-items: center; justify-content: flex-end;}

.point-of-sale .container-fluid .product-selection .ls .l-box .product-selection-item {
  padding-right: 10px;
}

.cart-item { display: flex; justify-content: space-between; margin-top: 1rem; }
.cart .cart-item-name { color: #376ADE; font-weight: 500; font-size: 1.2rem; }
.cart .cart-item-count { text-align: left; font-weight: 500; font-size: 1.2rem; }
.cart .cart-item .cart-item-name,.cart-item-count { margin-bottom: 0; }



.foot { background-color: #376ADE; position: absolute; bottom: 0; width: 100%; left: 0; padding: .5rem 0; }
.foot a { color: white; text-decoration: none; font-size: 1.2rem; font-weight: 600; }
.foot p { color: white; text-decoration: none; font-size: 1.2rem; font-weight: 600; }